.emacs.desktop
.emacs.desktop.lock
.org-id-locations

bookmarks
ido.last
network-security.data
smex-items
auto-save-list/
elpa/
server/
transient/

emacs-user-configuration.el
emacs-user-configuration.org
orgmode-main-configuration.el
orgmode-main-configuration.org
orgmode-user-configuration.el
orgmode-user-configuration.org